# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-dev-key-change-in-production
# ALLOWED_HOSTS is set to ['*'] in settings.py (allow all for dev/demo)

# PostgreSQL Database (Coolify or external)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password-here
POSTGRES_DB=postgres
POSTGRES_HOST=your-db-host-or-ip
POSTGRES_PORT=5432

# Django Superuser (created automatically on startup)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

# Google Maps API
GOOGLE_MAPS_API_KEY=AIzaSyAd15ZDLWiOlAqNfkLSbp_yayxM7mxOAOA

# CORS Settings (add your frontend URL)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

IMAP_HOST=mail.dosfit.pl
IMAP_PORT=993
IMAP_USERNAME=test@dosfit.pl
IMAP_PASSWORD=UBgUlpMd7bp&(g$3
IMAP_USE_SSL=True
IMAP_MAILBOX=INBOX